

{% extends "index.html" %}
{% block content %}
    <form method="post" action="{{ url_for('login') }}">
        {{  form.hidden_tag() }}
        {{ form.csrf_token }}  <!-- cross-site request forgery token
       Prevents people from submitting form from elsewhere
        -->
        {{ form.username.label }}
        {{ form.username(class_="form-username") }}
        <ul>
            {% for error in form.username.errors %}
                <li>{{ error }}</li>
            {%  endfor %}
        </ul>
        {{ form.password.label }}
        {{ form.password(class_="form-password")}}
        <ul>
            {% for error in form.password.errors %}
                <li>{{ error }}</li>
            {%  endfor %}
        </ul>
        <!-- Uncomment if we want to use Recaptcha -->
{#        {{ form.recaptcha }}#}
{#        {%  for error in form.recaptcha.errors %}#}
{#        <ul>#}
{#            <li>{{ error }}</li>#}
{#        </ul>#}
{#        {% endfor %}#}
    <br>
        {{ form.submit(class_="form-submit") }}
    </form>
{% endblock content %}